  <li [ngClass]="
    {'list-group-item': true,
      'list-group-item-success': loveIts > dislikeIts,
      'list-group-item-danger': loveIts < dislikeIts
    }">
    <h2 data-toggle="collapse">{{ title }}</h2>
    <hr>
    <p>{{ content }}</p>

    
    <button class="btn btn-success" (click)="onLike()">
      <i class="glyphicon glyphicon-thumbs-up" style="vertical-align: middle;"></i>
      <span> {{ loveIts }}</span>
    </button>

    
    <button class="btn btn-danger" (click)="onDisLike()">
      <i class="glyphicon glyphicon-thumbs-down" style="vertical-align: middle;"></i>
      <span> {{ dislikeIts }}</span>
    </button>

    
    <span class="glyphicon glyphicon-pencil navbar-text pull-right"> {{ created_at | date: 'd/MM/y' }} </span>
  </li>
