/* You can add global styles to this file, and also import other style files */
h1, h2 {
    color: #397cbf !important;
}

h1 {
    text-align: center;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    font-size: 40px !important;
}

p {font-size: 15px;}

app-post-list-item {margin-top: 1.5%;}

button {
    margin-right: 0.8% !important;
    
}

.glyphicon-thumbs-up, .glyphicon-thumbs-down {
    font-size: 17px;
}
